* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  h1{
    font-family: inherit;
    font-size: 64px;
    font-weight: 700;
    line-height: 78.02px;
    text-align: left;
  }
  h2{
    font-family: inherit;
    font-size: 32px;
    font-weight: 700;
    line-height: 39.01px;
    text-align: left;
  }
  h3{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 17.6px;
    text-align: left;
  }
  h4{
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    text-align: center;
  }
  a {
    text-decoration-line: none;
    color: #202027;
}
  .top{
    height: 800px;
    background-image: url(img/BackgroundGreen.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .top-content{
    z-index: 1;
    position: absolute;
    display: flex; 
   justify-content: left;
   flex-direction: column;
  }
  .title{
    display: flex;
    flex-wrap: wrap;
    width: 769px;
    font-family: inherit;
    margin-top: 196px;
    margin-bottom: 24px;
  }
  .top-content__text, .top-content__text1{
    display: flex;
    flex-wrap: wrap;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .top-content__batton{
    z-index: 1;
    background: url(img/button-black.svg);
    display: inline-block;
    width: 247px;
    height: 66px;
    cursor: pointer;
    transition: 0.2s;
    color: transparent;
    margin-top: 48px;
  } 
  .top-content__batton:hover{
    width: 247px;
    height: 66px;
    border-radius: 60px;
    background-color: #FFFFFF;
    background-image: url(img/button-white.svg);
  }

  .top-content__btn {
    position: absolute;
    margin-top: 48px;
    background:#202027;
    border: 1px solid #202027;
    box-sizing: border-box;
    border-radius: 60px;
    width: 247px;
    height: 66px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 34.01px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
  }
  .top-content__btn:hover {
    transition: 1s;
    border: 1px solid #202027;
    background-color: #FFFFFF;
    font-weight: 600;
    color: #202027;
  }
  .top-img{
    position: absolute;
    display: flex;
  }
  .top-img__StarBiggest{
    margin-left: 854px;
  }
  .top-img__Star3{
    position: absolute;
    top: 69px;
    left: 42px;
  }
  .top-img__Star2{
    position: absolute;
    top: 94px;
    left: -57px;
  }
  .top-img__Star4{
    position: absolute;
    top:568px;
    left:1013px;
  }
  .top-img__Star5{
    position: absolute;
    top:548px;
    left:938px;
  }
  .main {
    box-sizing: border-box;
    width: 100%;
    background-color: #202027;   
    padding-top: 94px;
    padding-bottom: 92px;
  }
  .main-img{
    position: absolute;
    display: flex;
  }
  .main-img__Star-1{
    position: absolute;
    margin-top: 80px;
    margin-left: 980px;
  }
  .main-img__Star-11{
    position: absolute;
    top: 770px;
    right: 59.83px;
  }
  .main-img__Star-12{
    position: absolute;
    top: 822px;
    left: -67px;
  }
  .main-img-1{
    position: absolute;
    display: flex;
    width: 100%;
  }
  .main-img-1__Star-6{
    position: absolute;
    top: -47px;
    left: 1201px;
  }
  .main-img-1__Star-7{
    position: absolute;
    top: -93.79px;
    left: 1158px;
  }
  .main__title{
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  .main__text{
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
  }
  .main__plays {
    display: grid;
    column-gap: 32px;
    grid-template-columns: repeat(12,1fr);
    width: 1201px;
    margin-top: 72px;
  }
  .main__plays_item{
    grid-column: span 4;
  }
  .main__plays_item{
    transition: 1s;
  }
  .main__plays_item:hover{
    transform: scale(1.1);
    transform-origin: center center;
  }
  .main__plays_item{
    position: relative;
  }
  .main__plays_item-title>a::before {
      position: absolute;
      content: '';
      inset: 0;
  }
  .main__plays_item{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #FFFFFF;
    border-radius: 30px;
  }
  .main__plays_item-5{
    margin-top: 32px;
  }
  .main__plays_item-1, .main__plays_item-3{
    height: 473px;
  }
  .main__plays_item-4, .main__plays_item-6{
    height: 551px;
  }
  .main__plays_item-2, .main__plays_item-5{
    height: 512px;
  }
  .main__plays_item-img{
    border-radius: 30px;
    height: 314px;
  }
  .main__plays_item-number{
    margin-left: 48px;
    margin-top: 32px;
    margin-bottom: 26px;
  }
  .main__plays_item-title{
    margin-left: 32px;
    margin-bottom: 36px;
    width: 306px;
  }
  .title-mini-plays{
    margin-top: 96px;
    margin-bottom: 72px;
  }
  .main__mini-plays {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12,1fr);
    width: 1201px;
    margin-top: 48px;
  }
  .main__mini-plays_item{
    grid-column: span 12;
  }
  .main__mini-plays_item{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 30px;
    height: 500px;
  }
  .main__mini-plays_item-content-1{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 48px;
    margin-right: 112px;
    margin-left: 48px;
  }
  .main__mini-plays_item-content-2, .main__mini-plays_item-content-4, .main__mini-plays_item-content-6 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 48px;
    margin-left: 48px;

  }
  .main__mini-plays_item-img{
    border-radius: 30px;
    height: 500px;  
  }

  .main__mini-plays_item-text{
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
  }
  .main__mini-plays_item-title{
    font-family: inherit;
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
    text-align: left;
    margin-bottom: 24px;
  }
  .footer{
    background-image: url(img/background\ footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 61px;
    padding-bottom: 60px;
  }

@import 'style';