* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
@media(max-width:833px) {
  .center {
    padding-left: calc(50% - 182px);
    padding-right: calc(50% - 148px);
  }
}
h1{
  font-family: inherit;
  font-size: 64px;
  font-weight: 700;
  line-height: 78.02px;
  text-align: left;
}
h2{
  font-family: inherit;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: left;
}
h3{
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
}
h4{
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-align: center;
}
@media(max-width:833px){
  h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48.76px;
    text-align: center;
  }
}
a {
  text-decoration-line: none;
  color: #202027;
}
.top{
  height: 800px;
  background-image: url(img/BackgroundGreen.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.top-content{
  z-index: 1;
  position: absolute;
  display: flex; 
 justify-content: left;
 flex-direction: column;
}
.title{
  display: flex;
  flex-wrap: wrap;
  width: 769px;
  font-family: inherit;
  margin-top: 196px;
  margin-bottom: 24px;
}
@media(min-width:834px){
.top-content__text, .top-content__text1{
  display: flex;
  flex-wrap: wrap;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  }
  .top-content__text2{
    display: none;
  }
  .top-img-mob{
    visibility: hidden;
    display: none;
  }
  .mob-top-content__batton{
    visibility: hidden;
    display: none;
  }
}
.top-content__batton{
  z-index: 1;
  background: url(img/button-black.svg);
  display: inline-block;
  width: 247px;
  height: 66px;
  cursor: pointer;
  transition: 0.2s;
  color: transparent;
  margin-top: 48px;
} 
@media (min-width:833px) {
.top-content__batton:hover{
  width: 247px;
  height: 66px;
  border-radius: 60px;
  background-color: #FFFFFF;
  background-image: url(img/button-white.svg);
}

.top-img__star-for-mobile{
  visibility: hidden;
  display: none;
}
.top-img__star4mobile{
  visibility: hidden;
  display: none;
}
.top-img__star5mobile{
  visibility: hidden;
  display: none;
}

.mob{
  visibility: hidden;
  display: none;
}
}
.top-img{
  position: absolute;
  display: flex;
}
.top-img__StarBiggest{
  margin-left: 750px;
}
.top-img__Star3{
  position: absolute;
  top: 69px;
  left: 42px;
}
.top-img__Star2{
  position: absolute;
  top: 94px;
  left: -57px;
}
.top-img__Star4{
  position: absolute;
  top:568px;
  left:1013px;
}
.top-img__Star5{
  position: absolute;
  top:548px;
  left:938px;
}
.main {
  box-sizing: border-box;
  width: 100%;
  background-color: #202027;   
  padding-top: 94px;
  padding-bottom: 92px;
}
.main-img{
  position: absolute;
  display: flex;
}
.main-img__Star-1{
  position: absolute;
  margin-top: 80px;
  margin-left: 880px;
}
.main-img__Star-11{
  position: absolute;
  top: 770px;
  right: 59.83px;
}
.main-img__Star-12{
  position: absolute;
  top: 822px;
  left: -67px;
}
.main-img-1{
  position: absolute;
  display: flex;
  width: 100%;
}
.main-img-1__Star-6{
  position: absolute;
  top: -47px;
  left: 1201px;
}
.main-img-1__Star-7{
  position: absolute;
  top: -93.79px;
  left: 1158px;
}
.main__title{
  color: #FFFFFF;
  margin-bottom: 24px;
}
.title-mini-plays{
  color: #FFFFFF;
  margin-bottom: 24px;
}
.main__text{
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #FFFFFF;
}
.main__plays {
  display: grid;
  column-gap: 32px;
  grid-template-columns: repeat(12,1fr);
  width: 1201px;
  margin-top: 72px;
}

.main__plays_item{
  grid-column: span 4;
}

.main__plays_item{
  transition: 1s;
}
.main__plays_item:hover{
  transform: scale(1.1);
  transform-origin: center center;
}
.main__plays_item{
  position: relative;
}
.main__plays_item-title>a::before {
    position: absolute;
    content: '';
    inset: 0;
}
.main__plays_item{
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #FFFFFF;
  border-radius: 35px;
}
.main__plays_item-5{
  margin-top: 32px;
}
.main__plays_item-1, .main__plays_item-3{
  height: 473px;
}
.main__plays_item-4, .main__plays_item-6{
  height: 551px;
}
.main__plays_item-2, .main__plays_item-5{
  height: 512px;
}
.main__plays_item-img{
  border-radius: 30px;
  height: 314px;
}
.main__plays_item-number{
  margin-left: 48px;
  margin-top: 32px;
  margin-bottom: 26px;
}
.main__plays_item-title{
  margin-left: 32px;
  margin-bottom: 36px;
  width: 306px;
}
.title-mini-plays{
  margin-top: 96px;
  margin-bottom: 72px;
}
.main__mini-plays {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12,1fr);
  width: 1201px;
  margin-top: 48px;
}
.main__mini-plays_item{
  grid-column: span 12;
}
.main__mini-plays_item{
  display: flex;
  background-color: #FFFFFF;
  border-radius: 30px;
  height: 500px;
}
.main__mini-plays_item-content-1{
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 48px;
  margin-right: 112px;
  margin-left: 48px;
}
.main__mini-plays_item-content-2, .main__mini-plays_item-content-4, .main__mini-plays_item-content-6 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 48px;
  margin-left: 48px;

}
.main__mini-plays_item-img{
  border-radius: 30px;
  height: 500px;  
}

.main__mini-plays_item-text{
  display: flex;
  flex-wrap: wrap;
  width: 440px;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}
.main__mini-plays_item-title{
  font-family: inherit;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  text-align: left;
  margin-bottom: 24px;
}
.footer{
  background-image: url(img/background\ footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 61px;
  padding-bottom: 60px;
}


@media(max-width:833px) {
.top-content center{
   justify-content: center;
}
.top{
    height: 700px;
    background-image: url(img/background-for-mobile.svg);
  }
  .title{
    width: 296px;
    margin-top: 147px;
    margin-bottom: 24px;
    margin-left: 24px;
  }

  .top-content__text, .top-content__text1, .top-content__batton{
    visibility: hidden;
    display: none
  }
  .top-content__text2{
    flex-wrap: wrap;
    width: 296px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.5px;
    text-align: center;
    margin-left: 24px;
  }
  .mob-top-content__batton{
    z-index: 1;
    background: url(img/batton-go-for-mobile.svg);
    display: inline-block;
    width: 285px;
    height: 55px;
    cursor: pointer;
    transition: 0.2s;
    color: transparent;
    margin-top: 48px;
    margin-left: 27px;
  } 
 
  .top-img__StarBiggest {
    visibility: hidden;
    display: none;
  }
  .main-img {
    visibility: hidden;
    display: none;
  }
  .top-img{
    visibility: hidden;
    display: none;
  }
  .top-img-mob__star-for-mobile{
    position: absolute;
    right: 15px;
  }
  .top-img-mob__star3mobile{
    position: absolute;
    top: 59px;
    left: 96px;
  }
  .top-img-mob__star2mobile{
    position: absolute;
    top: 99px;
    left: 39px;
  }
    .top-img-mob__star4mobile{
    position: absolute;
    top: 620px;
    left:275px;
  }
  .top-img-mob__Star5{
    visibility: hidden;
    display: none;
  }
  .top-img-mob__star5mobile{
    position: absolute;
    top: 580px;
    left:245px;
}
.main__plays, .main__title, .main__text{
  visibility: hidden;
  display: none;
}
.main{
  visibility: hidden;
  display: none;
}
.mob{
  box-sizing: border-box;
  width: 100%;
  background-color: #202027;   
  padding-top: 48.88px;
  padding-bottom: 48.88px;
  justify-content: left;
}
.mob-title{
  display: flex;
  flex-wrap: wrap;
  width: 275px;
  text-align: left;
  margin-bottom: 48px;
  color: #FFFFFF;
}
.mob__mini-plays {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12,1fr);
    width: 343px;
    margin-top: 48px;
  }
  .mob__mini-plays_item{
    grid-column: span 12;
  }
  .mob__mini-plays_item{
    display: flex;
    background-color: #FFFFFF;
    border-radius: 27.22px;
    width: 343px;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
  .mob__mini-plays_item-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .mob__mini-plays_item-img{
    border-radius: 30px;
    height: 284.93px;  
  }

  .mob__mini-plays_item-text{
    display: flex;
    flex-wrap: wrap;
    width: 285px;
    text-align: left;
    margin-left: 29px;
  }
  .mob__mini-plays_item-title{
    text-align: left;
    margin-bottom: 16px;
    margin-top: 29px;
    margin-left: 29px;
  }
  .mob-content__batton{
    z-index: 1;
    background: url(img/button-play-mobile.svg);
    display: inline-block;
    width: 285px;
    height: 55px;
    cursor: pointer;
    transition: 0.2s;
    color: transparent;
    margin-top: 32px;
    margin-left: 29px;
  } 
}
